@import "../../../styles/global";

.slick-slider {
  box-shadow: $box-shadow;
}
.slick-slide img {
  display: block;
  width: inherit;
  height: inherit;
}
.slick-dots {
  bottom: 20px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-prev {
  left: 25px;
  z-index: 1200;
}
.slick-next {
  right: 25px;
  z-index: 1200;
}
.slick-next:before,
.slick-prev:before {
  font-size: $small-font;
  line-height: 1;
  opacity: 0.75;
  color: $black-color;
}
.slick-prev:before,
.slick-prev:before {
  font-size: $small-font;
  line-height: 1;
  opacity: 0.75;
  color: $black-color;
}
@media (min-width: 481px) and (max-width: 767px) {
  .slick-prev {
    left: 25px;
    z-index: 1200;
  }
  .slick-next {
    right: 25px;
    z-index: 1200;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .slick-prev {
    display: none !important;
  }
  .slick-next {
    display: none !important;
  }
  .slick-dots {
    bottom: -20px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
  }
}
